<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Default" 
			 providerName="System.Data.SqlClient" 
			 connectionString="workstation id=ContactsManagerSoloDB.mssql.somee.com;packet size=4096;user id=SOLOD_SQLLogin_1;pwd=5npyo21ish;data source=ContactsManagerSoloDB.mssql.somee.com;persist security info=False;initial catalog=ContactsManagerSoloDB;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>